{% extends 'base.html.twig' %}

{% block title %}Hello RetailCRMCreateTestWorkINeedDoItController!{% endblock %}

{% block body %}
    <hr>
    <p>
        thanks {{ controller_name }}
        <br>
        add -- {{ ola }}
    </p>
{% endblock %}
